* {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling : touch;
}

a {
  color: #212121;
  text-decoration: none;
}

/* Clear Fix */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
/* Clearfix end */

.left {
  float: left;
}

.right {
  float: right;
}

ul {
  list-style: none;
}

html, body {
  height: 100%;
  font: 14px/25px 'Avenir', 'Arial', 'sans-serif';
}

.atwho-view {
  background: #fff;
  color: #212121;
}

.atwho-view .cur {
  background: #212121;
}

.atwho-view .cur a {
  color: #fff !important;
}

.atwho-view ul li {
  border-bottom-color: #333;
  -webkit-tap-highlight-color: #ffa729;
}

.atwho-view ul li:last-child a {
  color: #212121;
}
.atwho-view ul li:last-child {
  border: none;
}

.atwho-view ul li a {
  -webkit-tap-highlight-color: #ffa729;
}
.atwho-view {
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    margin-top: 18px;
    background: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
    z-index: 11110 !important;
}
.atwho-view .cur small {
    color: white;
}
.atwho-view strong {
    color: #3366FF;
}
.atwho-view .cur strong {
    color: white;
    font:bold;
}
.atwho-view ul {
    /* width: 100px; */
    list-style:none;
    padding:0;
    margin:auto;
}
.atwho-view ul li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    /* border-top: 1px solid #C8C8C8; */
}
.atwho-view small {
    font-size: smaller;
    color: #777;
    font-weight: normal;
}
